@media screen and (min-width: 1200px) and (max-width: 1919px) {
  main {
    overflow: hidden;
  }

  .container {
    max-width: vw(1625px);
    padding-right: vw(15px);
    padding-left: vw(15px);
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto {
    padding-right: vw(15px);
    padding-left: vw(15px);
  }

  .row {
    margin-right: vw(-15px);
    margin-left: vw(-15px);
  }

  .hero {
    min-height: vw(1188px);
    padding-top: vw(215px);
    padding-bottom: vw(57px);

    &-item {
      h5 {
        font-size: vw(40px);
        line-height: vw(52px);
        margin-bottom: vw(16px);
        margin-top: vw(8px);
      }

      h1 {
        font-size: vw(132px);
        letter-spacing: vw(3px);
        margin-bottom: vw(24px);
      }

      p {
        max-width: vw(510px);
        font-size: vw(22px);
        line-height: vw(33px);
      }
    }

    &-bottom {
      max-width: vw(993px);

      h6 {
        margin-bottom: vw(35px);
        font-size: vw(24px);
      }

      .before-border {

        &:before {
          height: vw(109px);
          right: vw(30px);
        }
      }
    }
  }

  .social {

    li {
      margin-right: vw(41px);

    }

    a {
      svg {
        height: vw(44px);
      }

    }
  }

  .nav {
    padding: vw(24px) 0;

    &.fixed {
      padding: vw(10px) 0;
    }
  }

  .menu {

    li {
      a {
        font-size: vw(16px);
        line-height: vw(26px);
        padding: 0 vw(32px);

        &:last-child {
          padding-right: vw(45px);
        }


      }
    }
  }

  .btn-container {
    border-radius: vw(48px);
  }

  .blob-btn {
    padding: vw(17.5px) vw(27px);
    border-radius: vw(48px);
    font-size: vw(18px);
    line-height: vw(25px);

    &:before {
      border-radius: vw(48px);
    }

    &:after {
      border-radius: vw(48px);
    }

    &:hover {
      border-radius: vw(48px);

      &:after {
        border-radius: vw(48px);
      }
    }

    &__inner {
      border-radius: vw(48px);
    }

  }

  .hero-img {
    img {
      max-width: vw(714px);
    }
  }

  .hero-bottom {
    padding-top: vw(74px);
  }

  .platforms-list {

    li {
      margin-right: vw(43px);

      &.no-active {

        p {
          margin-top: vw(12px);
          font-size: vw(18px);
          line-height: vw(23px);
          letter-spacing: vw(0.668766px);
        }
      }
    }
  }

  .unique-card {
    border-radius: vw(8px);
    width: vw(375px);
    height: vw(564px);
  }


  .unique-card-front {
    img {
      border-radius: vw(8px);
    }
  }

  .unique-card-back {
    border-bottom-left-radius: vw(8px);
    border-bottom-right-radius: vw(8px);
  }

  .unique {
    padding: vw(63px) 0 vw(120px);


    &-content {
      padding: vw(24px) vw(24px) vw(25px) vw(27px);

      h6 {
        font-size: vw(26px);
        line-height: vw(33px);
        letter-spacing: vw(0.657895px);
        margin-bottom: vw(24px);
      }

      .name {
        margin-top: vw(24px);
        font-size: vw(18px);
        line-height: 1;
        letter-spacing: vw(0.657895px);

        &:before {
          content: "";
//          width: vw(15px);
          right: -vw(4px);
        }
      }
    }

    &-img {
      img {
        border-top-left-radius: vw(8px);
        border-top-right-radius: vw(8px);
      }

    }

    &-info {

      img {
        margin-right: vw(8.88px);
        max-height: vw(37px);
      }

      p {
        font-weight: 600;
        font-size: vw(18.2737px);
        letter-spacing: vw(0.652632px);
      }
    }
  }

  h2 {
    font-size: vw(90px);
    letter-spacing: vw(3px);
    margin-bottom: vw(80px);
  }

  .slogan {
    background-size: vw(1231.45px);
    min-height: vw(893px);
  }

  .slogan-item {
    border-radius: vw(25px);
    min-height: vw(335px);
    margin-top: vw(60px);

    h3 {
      font-size: vw(32px);
      letter-spacing: vw(1.5px);
      padding-left: vw(44px);

    }

    p {
      font-size: vw(16px);
      line-height: vw(26px);
      padding-left: vw(50px);
    }
  }

  .offset-xl-1 {
    margin-left: vw(105px);
  }

  .works {
    padding: vw(120px) 0 vw(60px);

    .blob-btn {
      margin-top: vw(35px);
    }

    &-item {
      img {
        height: vw(105px);
        margin-bottom: vw(32px);
      }

      h3 {
        font-size: vw(32px);
        letter-spacing: vw(1.5px);
        margin-bottom: vw(19px);
      }

      p {
        font-size: vw(16px);
        line-height: vw(26px);
      }
    }
  }

  .mechanics {
    padding: vw(60px) 0;

    &-img {
      max-width: vw(741px);
      min-height: vw(763px);
      padding-top: vw(62px);

      img {
        max-width: vw(332px);
      }
    }

    &-item {
      h2 {
        margin-bottom: vw(40px);
      }
    }

    &-list {
      margin-bottom: vw(48px);

      li {
        font-size: vw(20px);
        line-height: vw(48px);
        padding-left: vw(31px);

        &:before {
          width: vw(8px);
          height: vw(8px);
          top: vw(20px);
          left: 0;
        }
      }
    }
  }



  .beta-block {
    border-radius: vw(15px);
    padding: vw(32px);
    max-width: vw(510px);

    h3 {
      font-size: vw(28px);
      letter-spacing: vw(1.5px);
      margin-bottom: vw(27px);
    }

    p {
      font-size: vw(17px);
      line-height: vw(22px);
    }
  }


  .nft {
    padding: vw(107px) 0 vw(24px);

    h2 {
      max-width: vw(1050px);
      margin-bottom: -vw(112px);
    }

    &-item {
      max-width: vw(375px);
      margin-bottom: vw(64px);

      &:first-child {
        margin-top: vw(222px);
      }


      .svg {
        margin-bottom: vw(20px);
        svg {
          width: vw(105px);
          height: inherit;
        }
      }

      h3 {
        font-size: vw(32px);
        letter-spacing: vw(1.5px);
        margin-bottom: vw(16px);
      }

      p {
        font-size: vw(16px);
        line-height: vw(26px);
      }
    }

    &-card, &-cardList {
      li {
        max-width: vw(360px);
        margin-right: vw(16px);
        margin-bottom: vw(85px);

        &:first-child {
          margin-top: vw(222px);
        }

        .author {
          margin-bottom: vw(32px);

          &-photo {
            margin-right: vw(24px);

            img {
              width: vw(80px);
              height: vw(80px);
            }
          }

          &-name {
            font-size: vw(18px);
            line-height: vw(25px);
            margin-bottom: vw(8px);
          }

          &-insta {
            font-size: vw(18px);
            line-height: vw(24px);
          }
        }

        .card-content {
          border-radius: vw(8px);

          .card-img {
            img {
              border-top-left-radius: vw(8px);
              border-top-right-radius: vw(8px);
            }
          }

          .content-bottom {
            padding: vw(24px);
            border-bottom-left-radius: vw(8px);
            border-bottom-right-radius: vw(8px);

            h5 {
              font-size: vw(26px);
              line-height: vw(33px);
              letter-spacing: vw(0.657895px);
              margin-bottom: vw(24px);
            }

          }

          &:after {
            width: vw(360px);
            border-radius: vw(8px);
            top: vw(16px);
            left: vw(8px);

          }

          &:before {
            width: vw(360px);
            border-radius: vw(8px);
            top: vw(32px);
            left: vw(16px);
          }
        }
      }
    }

    &-logo {
      border-top: vw(1px) solid #434343;
      margin-top: vw(7px);
      padding-top: vw(40px);

      li {
        padding: vw(21px) vw(31px);

        p {
          margin-top: vw(19px);
          font-size: vw(18px);
          line-height: vw(23px);
          letter-spacing: vw(0.668766px);
        }
      }
    }
  }

  .tokenomics {
    padding: vw(60px) 0 vw(70px);
  }

  .tokenomics-bg {
    padding-top: vw(121px);
    padding-left: vw(145px);
    padding-right: vw(145px);
    padding-bottom: vw(97px);
    border-radius: vw(25px);

    &:before {
      width: vw(1px);
      height: vw(203px);
    }

    p {
      font-size: vw(32px);
      line-height: vw(42px);
    }
  }

  .display-1 {
    font-size: vw(137px);
    letter-spacing: vw(5.89517px);
    margin-bottom: vw(39px);
  }

  .tba {
    padding-top: vw(60px);
    margin-top: vw(60px);
    margin-bottom: vw(100px);

    &-row {
      max-width: vw(740px);
    }

    &-item {
      max-width: vw(172px);
      padding-right: vw(20px);

      .title {
        font-size: vw(28px);
        line-height: vw(31px);
        letter-spacing: vw(0.668766px);
        margin-bottom: vw(19px);
      }

      p {
        font-size: vw(20px);
        line-height: vw(26px);
      }
    }
  }

  .tokens {
    h3 {
      font-size: vw(32px);
      letter-spacing: vw(1.5px);
      margin-bottom: vw(50px);
    }

    &-list {
      padding-left: vw(40px);

      li {
        font-size: vw(16px);
        margin-bottom: vw(30px);
        padding-left: vw(22px);

        &:before {
          width: vw(8px);
          height: vw(8px);
          top: vw(4px);
        }
      }
    }
  }

  .tokenomics-logo {
    margin-top: vw(10px);
    padding-left: vw(80px);

    li {
      padding: vw(24px) vw(32px);

      img {
        margin-bottom: vw(16px);
        max-height: vw(46px);
      }

      p {
        font-size: vw(18px);
        line-height: vw(23px);
        letter-spacing: vw(0.668766px);
      }
    }
  }

  .tokens-p {
    margin-left: vw(112px);
    margin-top: vw(30px);
    font-size: vw(16px);
    line-height: vw(26px);
    max-width: vw(475px);
  }

  .roadmap {
    padding: vw(70px) 0 vw(84px);

    h2 {
      margin-bottom: vw(52px);
    }

    h5 {
      font-size: vw(32px);
      letter-spacing: vw(1.5px);
      margin-bottom: vw(25px);
    }

    &-list {
      margin: -vw(8px);

      li {
        margin: vw(8px);
        padding: vw(32px);
        border-radius: vw(10px);
        min-height: vw(140px);

        h6 {
          font-size: vw(30px);
          letter-spacing: vw(0.668766px);
          margin-bottom: vw(8px);

          svg {
            margin-right: vw(8px);
            max-width: vw(32px);
            height: inherit;
          }
        }

        p {
          font-size: vw(16px); 
          line-height: vw(26px);
        }
      }
    }
  }



  .upcoming-item {
    margin-bottom: vw(38px);
    border-radius: vw(25px);
    padding: vw(40px) vw(56px);

    .title {
      font-size: vw(56px);
      letter-spacing: vw(3px);
      margin-bottom: vw(24px);
    }

    .info {
      font-size: vw(18px);
      margin-bottom: vw(35px);
    }

    .upcoming-link {
      font-size: vw(18px);
      line-height: vw(25px);
      border-radius: vw(40px);
      max-width: vw(230px);
      padding: vw(19px);
    }
  }

  .show-more {
    margin-top: vw(24px);
    font-size: vw(18px);
    line-height: vw(25px);
  }

  .mt-56 {
    margin-top: vw(56px);
  }

  .team {
    padding: vw(68px) 0 vw(90px);

    h2 {
      margin-bottom: -vw(90px);
    }

    &-item {
      img {
        max-width: vw(375px);
        margin-bottom: vw(18px);
      }

      .name {
        font-size: vw(23.6842px);
        line-height: vw(30px);
        letter-spacing: vw(0.657895px);
      }

      .post {
        font-size: vw(18px);
        line-height: vw(25px);
        margin-bottom: vw(16px);
      }

      p {
        font-size: vw(16px);
        line-height: vw(26px);
        max-width: vw(267px);
      }

      &.large {
        margin-bottom: vw(35px);

        .name {
          font-size: vw(60px);
          margin-bottom: vw(24px);
        }

        .post {
          margin-bottom: vw(20px);
        }

        p {
          font-size: vw(18px);
          line-height: vw(29px);
          max-width: vw(447px);
        }

        img {
          max-width: vw(645px);
        }
      }
    }
  }

  .offset-xl-3 {
    margin-left: vw(315px)
  }

  .projects {
    padding: vw(90px) 0 vw(172px);

    &-item {
      h4 {
        font-size: vw(40px);
        letter-spacing: vw(3px);
        margin-bottom: vw(24px);
      }
    }

    &-info {
      margin-bottom: vw(40px);

      .img {
        margin-right: vw(35px);

        img {
          width: vw(100px);
          height: vw(100px);
          border-radius: vw(10px);
        }
      }

      .number {
        font-size: vw(28px);
        letter-spacing: vw(0.668766px);

        span {
          margin-top: vw(11px);
          font-size: vw(20px);
          line-height: vw(26px);
        }
      }
    }

    &-content {
      padding-top: vw(100px);
      padding-left: vw(115px);

      .img {

        img {
          border-radius: vw(20px);
          max-width: vw(300px);
        }
      }

      p {
        font-size: vw(16px);
        line-height: vw(26px);
        max-width: vw(300px);
        margin-top: vw(40px);
      }
    }
  }


  .footer {
    padding: vw(32px) 0 vw(40px);

    .social {
      margin-top: vw(74.45px);

      li {
        margin-right: vw(32px);

        a {
          svg {
            height: vw(31px);
          }
        }
      }
    }

    .menu {
      li {
        a {
          padding: vw(24px) vw(16px) 0;
        }

      }
    }
  }

  .orange-logo {
    width: vw(155px);
    height: vw(118.36px);
    margin-top: vw(48px);
    svg {
      width: 100%; 
      height: inherit;
    }
  }
  
  .platforms-list li a img {
    max-height: vw(44px);
  }
  
  .logo svg {
    width: vw(193px);
    height: inherit;
  }
  
  .row .col-6:last-child .unique-info {
    max-height: vw(27px);
  }
  
  .btn-game {
    img {
      max-height: vw(65px);
    }
  }
  
  .author-insta {
    img {
      max-width: vw(23px);
    }
  }
  
  .nft-logo li img {
    max-height: vw(46px);
  }
}